:root {
    --light: #fff;
    --white: #F2F2F2;
    --grey: #D9D9D9;
    --dark-grey: #737373;
    --light-blue: #5BBDC4;
    --yellow: #FFFFC1;
    --dark: #022601;
    --light-green: #BDF271;
    --green: #3D7345;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    color: var(--dark);
}

body {
    display: grid;
    background: var(--white);
    -webkit-font-smoothing: antialiased;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: .1rem;
    width: 280px;
    overflow: hidden;
    transition: width 0.2s linear;
    z-index: 100;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.1);
    background: var(--white);
}

.selected {
    border-left: 8px solid var(--green);
    background: var(--grey);
}

.selected i {
    color: var(--green);
}

.selected span {
    color: var(--green);
}

nav .logo {
    display: flex;
    text-align: center;
    transition: all 0.5s ease;
}

nav .logo:hover {
    background: var(--white);
}

nav .logo img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

nav .logo span {
    display: flex;
    padding: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--dark);
}

nav a {
    color: var(--dark);
    font-size: 1.2rem;
    display: table;
    width: 300px;
    padding: 1.5rem 1rem;
    font-weight: bold;
}

nav a:hover {
    background: var(--grey);
}

nav a i {
    position: relative;
} 

.nav-item {
    position: relative;
    margin-left: 1.2rem;
    bottom: 5px;
    font-weight: bold;
}

.logout {
    position: absolute;
    bottom: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: min-content(700px);
    padding: 2rem;
    border-bottom: 1px solid var(--grey);
    margin: 0 2rem;
}

 header h1 {
    color: var(--dark);
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin:  2rem;
    align-items: center;
}

section {
    display: grid;
    grid-template-columns: 15% 85%;
}

.stockCard {
    margin: auto;
    display: grid;
    grid-row: auto;
    grid-template-columns: 30% 50% 20%;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    gap: .2rem;

    border-radius: .5rem;
 
    background: var(--light);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.stockCard:hover {
    background: linear-gradient(135deg, var(--light), var(--white));
}

.stockCard .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}

.stockCard .logo img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.stockCard .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .2rem;
    
}

.stockCard .mainContent h1 {
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    color: var(--dark);
}

.stockCard .mainContent p {
    font-weight: 500;
    font-size: 1rem;
    opacity: .6;
    color: var(--green);
}

.stockCard .mainContent h2 {
    color: var(--green);
    font-weight: 500;
    font-size: 1.2rem;
}

.stockCard .mainContent span {
    font-size: 1rem;
    color: var(--dark);
    font-weight: 400;
}

.stockCard .mainContent button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 1rem .3rem;
    margin-top: 1.5rem;

    background: var(--green);
    border: none;
    border-radius: .5rem;
    color: var(--white);
    font-weight: 700;
    font-size: 1rem;
    opacity: .8;
}

.stockCard .mainContent button:hover {
    opacity: 1;
}

.stockCard .percent  {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);

    display: none;
}

.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--light);
    width: 450px;
    height: 220px;
    z-index: 2;
    border-radius: .5rem;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;


}

.popup .content h3 {
    color: var(--green);
}

.popup .content span {
    color: var(--dark);
}

.popup .close-btn {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: var(--dark);
    color: var(--light);
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 50%;

}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}